/* Global Styles */

header {
    padding: 2px 0; /* Adjust padding for vertical space around the text */
    background: none; /* No background color (so the image can show through) */
    box-shadow: none; /* Removes the shadow */
    color:  #fff; /* White text for contrast */
    text-align: center; /* Centers the text */
}



/* Make all album photos the same size and nicely cropped */
section div img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin: 10px;
  border-radius: 8px;
}





/* Main Page Background (Green Moon - ggmoon.jpg) */
body.main-page {
    background-image: url('gggmoon.jpg.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff; /* Dark blue text for readability */
    text-align: center;
    min-height: 100vh; /* Ensure the background covers the whole page */
}

/* Photos Page Background (Yellow Flowers - photophoto.png) */
body.photos-page {
    background-image: url('photophoto.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #003366; /* Dark blue text for readability */
    text-align: center;
    min-height: 100vh;
}

/* Poetry Page Background (Blue Moon - poetryphoto.png) */
body.poetry-page {
    background-image: url('poetryphoto.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff; /* Dark blue text for readability */
    text-align: center;
    min-height: 100vh;
}

/* Header Styling */


header h1 {
    font-size: 3em;
    margin-bottom: 30px;
}

header p {
    font-size: 1.5em;
    font-style: italic;
}

/* Links Styling */
a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    padding: 10px 10px;
    border: 80px solid #003366;
    border-radius: 50px;
    background-color: #003366;
    margin-bottom: 100px; /* Increase this value for more space between links */
}

a:hover {
    background-color: #003366;
    color: #fff;
}
